* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  padding: 2rem
}

#time {
    font-size: 10rem;
}
